name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   # runs every day at 00:00 UTC
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate GitHub contribution snake (SVG only)
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg?color_snake=#b45cff&color_dots=#1e1f29,#ff4d4d,#ff6666,#ff8080,#ff9999
            dist/github-snake-dark.svg?color_snake=#b45cff&color_dots=#1e1f29,#ff4d4d,#ff6666,#ff8080,#ff9999
