name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"      # Runs every midnight UTC
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate GitHub Contribution Snake (SVG only)
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: "varchasvakhare2022"
          outputs: |
            dist/github-snake.svg?color_snake=red
            dist/github-snake-dark.svg?palette=github-dark&color_snake=red

      - name: Push snake files to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
